{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; {{ site.publication_year }}
      {{ site.title }}
      @ {{ site.affiliation_short }}
      <span class='fi fi-{{ site.country }}'></span>. {{ site.data[site.active_lang].strings.footer.text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        {{ site.data[site.active_lang].strings.footer.last_updated }}: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}

    <div class="container">
      &copy; {{ site.publication_year }}
      {{ site.title }}
      @ {{ site.affiliation_short }}
      <span class='fi fi-{{ site.country }}'></span>. {{ site.data[site.active_lang].strings.footer.text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        {{ site.data[site.active_lang].strings.footer.last_updated }}: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
