---
layout: default
---
<div class="post">
  <header class="post-header-about">
    {% if page.logo %}
      <div class="profile-image">
        {% assign profile_image_path = site.url | append: site.baseurl | append: '/assets/img/logopic/' | append: page.logo %}
        {% assign profile_image_class = 'img-fluid w-100' %}
        {%
          include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=page.logo cache_bust=true
        %}
      </div>
    {% else %}
      <h1 class="post-title"></h1>
      <span class="font-weight-bold">{{ site.title_long }}</span>
    {% endif %}
    {% if page.affiliation_logo %}
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logopic/{{ page.affiliation_logo }}" style="height:64px;" />
      {% comment %} <span class='fi fi-{{ site.country }}' style="font-size: 3em;"></span> {% endcomment %}
    {% else %}
      <p class="desc">{{ page.subtitle }}</p>
    {% endif %}
  </header>

  <article>
    <div class="clearfix" style="text-align: justify">{{ content }}</div>
    <!-- <div class="intro-block" style="text-align: justify">{{ content }}</div> -->

  <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note" style="font-size: 1.17em;"><!-- h3 default size -->
          {{ site.data[site.active_lang].strings.contact_note }}
        </div>
      </div>
    {% endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">{{ site.data[site.active_lang].strings.news }}</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">{{ site.data[site.active_lang].strings.selected_publications }}</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Affiliations & Sponsors -->
    {% if site.data.affiliations_and_sponsors %}
      <h2>
      Affiliations & Sponsors
      </h2>
      <figure class="fourth" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
      {% for affiliation in site.data.affiliations_and_sponsors %}
        <a href="{{ affiliation.url }}" target="_blank" rel="noopener">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/affilpic/{{ affiliation.logo }}" style="height: 85px; margin-right: 10px; margin-bottom: 10px" alt="{{ affiliation.name }}">
        </a>
      {% endfor %}
      </figure>
    {% endif %}

    <!-- Collaborators -->
    {% if site.data.collaborators %}
      <h2>
      Collaborators
      </h2>
      <figure class="fourth" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
      {% for collaborator in site.data.collaborators %}
        <a href="{{ collaborator.url }}" target="_blank" rel="noopener">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/{{ collaborator.logo }}" style="height: 95px; margin-right: 10px; margin-bottom: 10px" alt="{{ collaborator.name }}">
        </a>
      {% endfor %}
      </figure>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
