---
layout: default
---
<div class="post">
  <header class="post-header-about">
    {% if page.profile and page.profile.image %}
      <div class="profile-image">
        {% assign profile_image_path = site.url | append: site.baseurl | append: '/assets/img/' | append: page.profile.image %}
        {% assign profile_image_class = 'img-fluid w-100' %}
        {%
          include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=page.profile.image cache_bust=true
        %}
      </div>
    {% endif %}

    <!-- <h1 class="post-title">
      {% if site.title == nil %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% endif %}
    </h1> -->
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="clearfix" style="text-align: justify">{{ content }}</div>
    <!-- <div class="intro-block" style="text-align: justify">{{ content }}</div> -->

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">{{ site.data[site.active_lang].strings.news }}</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">{{ site.data[site.active_lang].strings.selected_publications }}</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Affiliations & Sponsors -->
    <h2>
      Affiliations & Sponsors
      </h2>
    <figure class="fourth" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logopic/Logosimbolo-universidaddelosandes_colombia.png" style="height: 85px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logopic/WashU_Med.png" style="height: 85px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logopic/Wellcome_Sanger_Institute.png" style="height: 85px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logopic/CABANA.png" style="height: 85px; margin-right: 10px; margin-bottom: 10px">
    </figure>
    
    <!-- Collaborators -->
    <h2>
      Collaborators
      </h2>
    <figure class="fourth" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/cimic.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/limma.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/bmte_unal.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/darma_unal.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/ley_lab_mpit.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/gordon_lab.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/finn_embl_ebi.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/agrosavia.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/collabpic/corpogen.png" style="height: 95px; margin-right: 10px; margin-bottom: 10px">
    </figure>

    <!-- Social -->
    {% if page.social %}
      <h2>
        Contact
      </h2>
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note" style="font-size: 1.17em;"><!-- h3 default size -->
          {{ site.data[site.active_lang].strings.contact_note }}
        </div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
